html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: hsl(0deg 0% 92%);
    background-image: url(../images/background_pxhere_com.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}